.svg-icons--heart-dims {
  width: 34px;
  height: 35px;
}

.svg-icons--heart-line-dims {
  width: 34px;
  height: 34px;
  fill: crimson;
}

.svg-icons--id-card-line-dims {
  width: 34px;
  height: 34px;
}

.svg-icons--search-dims {
  width: 34px;
  height: 34px;
}

.svg-icons--search-line-dims {
  width: 34px;
  height: 34px;
}

.svg-icons--user-dims {
  width: 34px;
  height: 34px;
}

.svg-icons--user-star-line-dims {
  width: 34px;
  height: 34px;
}

.svg-icons--website-dims {
  width: 42px;
  height: 42px;
}