@import "./base/reset";
@import "./base/fontsAutoGen";

@import "./partials/header";
@import "./partials/svg-sprite";

*,
*::before,
*::after {
  box-sizing: border-box;
}

img {
  vertical-align: top;
  max-width: 100%;
}

.some-back {
  background-image: url("./img/01.jpg");
}

.font1 {
  font-family: "Seravek";
  font-weight: 700;
}

.font2 {
  font-family: "Sfuitext";
}